/* Coolors Exported Palette - https://coolors.co/02000d-171848-6462c3-4e1ead-540e58-781567-51156a-8b1fc3-a429a1-ea1fdf */

/* CSS HEX */
--rich-black: #02000Dff;
--penn-blue: #171848ff;
--slate-blue: #6462C3ff;
--chrysler-blue: #4E1EADff;
--palatinate: #540E58ff;
--byzantium: #781567ff;
--indigo: #51156Aff;
--french-violet: #8B1FC3ff;
--mauveine: #A429A1ff;
--fuchsia: #EA1FDFff;

/* CSS HSL */
--rich-black: hsla(249, 100%, 3%, 1);
--penn-blue: hsla(239, 52%, 19%, 1);
--slate-blue: hsla(241, 45%, 57%, 1);
--chrysler-blue: hsla(260, 70%, 40%, 1);
--palatinate: hsla(297, 73%, 20%, 1);
--byzantium: hsla(310, 70%, 28%, 1);
--indigo: hsla(282, 67%, 25%, 1);
--french-violet: hsla(280, 73%, 44%, 1);
--mauveine: hsla(301, 60%, 40%, 1);
--fuchsia: hsla(303, 83%, 52%, 1);

/* SCSS HEX */
$rich-black: #02000Dff;
$penn-blue: #171848ff;
$slate-blue: #6462C3ff;
$chrysler-blue: #4E1EADff;
$palatinate: #540E58ff;
$byzantium: #781567ff;
$indigo: #51156Aff;
$french-violet: #8B1FC3ff;
$mauveine: #A429A1ff;
$fuchsia: #EA1FDFff;

/* SCSS HSL */
$rich-black: hsla(249, 100%, 3%, 1);
$penn-blue: hsla(239, 52%, 19%, 1);
$slate-blue: hsla(241, 45%, 57%, 1);
$chrysler-blue: hsla(260, 70%, 40%, 1);
$palatinate: hsla(297, 73%, 20%, 1);
$byzantium: hsla(310, 70%, 28%, 1);
$indigo: hsla(282, 67%, 25%, 1);
$french-violet: hsla(280, 73%, 44%, 1);
$mauveine: hsla(301, 60%, 40%, 1);
$fuchsia: hsla(303, 83%, 52%, 1);

/* SCSS RGB */
$rich-black: rgba(2, 0, 13, 1);
$penn-blue: rgba(23, 24, 72, 1);
$slate-blue: rgba(100, 98, 195, 1);
$chrysler-blue: rgba(78, 30, 173, 1);
$palatinate: rgba(84, 14, 88, 1);
$byzantium: rgba(120, 21, 103, 1);
$indigo: rgba(81, 21, 106, 1);
$french-violet: rgba(139, 31, 195, 1);
$mauveine: rgba(164, 41, 161, 1);
$fuchsia: rgba(234, 31, 223, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #02000Dff, #171848ff, #6462C3ff, #4E1EADff, #540E58ff, #781567ff, #51156Aff, #8B1FC3ff, #A429A1ff, #EA1FDFff);
$gradient-right: linear-gradient(90deg, #02000Dff, #171848ff, #6462C3ff, #4E1EADff, #540E58ff, #781567ff, #51156Aff, #8B1FC3ff, #A429A1ff, #EA1FDFff);
$gradient-bottom: linear-gradient(180deg, #02000Dff, #171848ff, #6462C3ff, #4E1EADff, #540E58ff, #781567ff, #51156Aff, #8B1FC3ff, #A429A1ff, #EA1FDFff);
$gradient-left: linear-gradient(270deg, #02000Dff, #171848ff, #6462C3ff, #4E1EADff, #540E58ff, #781567ff, #51156Aff, #8B1FC3ff, #A429A1ff, #EA1FDFff);
$gradient-top-right: linear-gradient(45deg, #02000Dff, #171848ff, #6462C3ff, #4E1EADff, #540E58ff, #781567ff, #51156Aff, #8B1FC3ff, #A429A1ff, #EA1FDFff);
$gradient-bottom-right: linear-gradient(135deg, #02000Dff, #171848ff, #6462C3ff, #4E1EADff, #540E58ff, #781567ff, #51156Aff, #8B1FC3ff, #A429A1ff, #EA1FDFff);
$gradient-top-left: linear-gradient(225deg, #02000Dff, #171848ff, #6462C3ff, #4E1EADff, #540E58ff, #781567ff, #51156Aff, #8B1FC3ff, #A429A1ff, #EA1FDFff);
$gradient-bottom-left: linear-gradient(315deg, #02000Dff, #171848ff, #6462C3ff, #4E1EADff, #540E58ff, #781567ff, #51156Aff, #8B1FC3ff, #A429A1ff, #EA1FDFff);
$gradient-radial: radial-gradient(#02000Dff, #171848ff, #6462C3ff, #4E1EADff, #540E58ff, #781567ff, #51156Aff, #8B1FC3ff, #A429A1ff, #EA1FDFff);